<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learning226"
        tools:targetApi="31">
        <activity
            android:name=".shoppinglandingpage.ShoppingPage"
            android:exported="false" />
        <activity
            android:name=".touchlandingpage.TouchLandingPage"
            android:exported="false" />
        <activity
            android:name=".lputouchlanding.LpuTouchLandingPage"
            android:exported="false" />
        <activity
            android:name=".recyclerview.DynamicRecyclerView"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewExample"
            android:exported="false" />
        <activity
            android:name=".dynamicallyaddingitemusingadapter.DynamicallyAddingGridElement"
            android:exported="false" />
        <activity
            android:name=".dynamicallyaddingitemusingadapter.DynamicallyAddingUsingAdapter"
            android:exported="false" />
        <activity
            android:name=".customgridview.CustomGridViewExample"
            android:exported="false" />
        <activity
            android:name=".customlistviewbaseadapter.CustomListViewBaseAdapterExample"
            android:exported="false" />
        <activity
            android:name=".customlistviewarrayadapter.FacebookActivity"
            android:exported="false"
            android:theme="@style/Theme.Learning226" />
        <activity
            android:name=".customlistviewarrayadapter.CustomListViewArrayAdapterExample"
            android:exported="false"
            android:theme="@style/Theme.Learning226" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>